:root {
  --ngx-json-string: papayawhip;
  --ngx-json-number: darkturquoise;
  --ngx-json-boolean: darkorange;
  --ngx-json-date: aliceblue;
  --ngx-json-array: white;
  --ngx-json-object: white;
  --ngx-json-function: white;
  --ngx-json-null: indianred;
  --ngx-json-null-bg: transparent;
  --ngx-json-undefined: red;
  --ngx-json-toggler: navajowhite;
  --ngx-json-key: white;
  --ngx-json-separator: white;
  --ngx-json-value: white;
  --ngx-json-undefined-key: indianred;
  --ngx-json-font-size: 16px;
}