
<div class="container items-center mt-10 sm mx-auto grid grid-cols-4 gap-4">
    <app-button
            label="Identity Keycloak"
            [leftIcon]="faLink"
            [link]="getKeycloakLink()"
            class="w-full h-full items-center"
    ></app-button>
    <app-button
            label="Identity API"
            [leftIcon]="faLink"
            [link]="getIdentityApiLink()"
            class="w-full h-full items-center"
    ></app-button>
    <app-button
            label="Ades"
            [leftIcon]="faLink"
            [link]="getAdesLink()"
            class="w-full h-full items-center"
    ></app-button>
    <app-button
            label="System Resource Catalogue"
            [leftIcon]="faLink"
            [link]="getSystemResourceCatalogueLink()"
            class="w-full h-full items-center"
    ></app-button>
    <app-button
            label="System Data Access"
            [leftIcon]="faLink"
            [link]="getSystemDataAccessLink()"
            class="w-full h-full items-center"
    ></app-button>
    <app-button
            label="Workspace"
            [leftIcon]="faLink"
            [link]="getWorkspaceLink()"
            class="w-full h-full items-center"
    ></app-button>
    <app-button
            label="Container Registry"
            [leftIcon]="faLink"
            [link]="getContainerRegistryLink()"
            class="w-full h-full items-center"
    ></app-button>
    <app-button
            label="Dummy service"
            [leftIcon]="faLink"
            [link]="getDummyServiceLink()"
            class="w-full h-full items-center"
    ></app-button>
</div>